@{
    ViewBag.Title = "Want to know more?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a store for comics, graphic novels & manga lovers out there</p> 
    <p>We also sell items such as figurines, board games, jewellery, novelty items & model kits</p>
    <p>and of course shipment for the items we are selling.</p>
