
@{
    ViewBag.Title = "Favourites";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Style of headings-->
    <style type="text/css">
        h1 {
            font-size: 30px;
            color: black;
            text-align: left;
            background-color: aqua
        }

        h2 {
            font-size: 30px;
            color: black;
            text-align: right;
            background-color: aqua           
        }

        h3 {
            font-size: 30px;
            color: black;
            text-align: left;
            background-color:aqua
        }
        h4 {
            font-size: 30px;
            color: black;
            text-align: right;
            background-color: aqua
        }

    </style>
</head >
<!--Webpage Background Colour-->
<body style="background-color:lightgray">

    <!--div Image Alignment-->
    <div align="left">
        <h1>1#Noragami</h1>
        <p align="right">This is my top favourite as this is about the story revolving around the near shore/our world and the far shore/after life.</p>
        <p align="right">I like the animation, the different type of gods & their abilities, variety of phantoms/spirits displaying in all shapes,colours & sizes</p>
        <p align="right">But most of all the figthing & drama it gives off.</p>
        <img src="~/Content/Manga Favourites Images/Manga Front cover.jfif" width="300" height="400" />
    </div>

    <div align="right">
        <h2>2#The Seven Deadly Sins</h2>
        <p align="left">I like this as it's about various clans such as demons, angels, vampires, giants, fiaries & they confront each other, learn from</p>
        <p align="left">The fighting is also commendable as well and has various plot twists.</p>
        <img src="~/Content/Manga Favourites Images/7DS Manga Cover.jfif" width="300" height="400" />
    </div>

    <div align="left">
        <h3>3#Tokyo Ghoul</h3>
        <p align="right">This is an manga which revolves arounds ghouls but not ghouls as one would think it would look like.</p>
        <p align="right">Flesh eating beings with abilities that looks like humans. This is a very tragical backstories of many of the characters.</p>
        <img src="~/Content/Manga Favourites Images/Tokyo Ghoul.jfif" width="300" height="400" />
    </div>

    <div align="right">
        <h4>4#Demon Slayer</h4>
        <p align="left">As the name states demons who looks likes vampires with magnificent powers.</p>
        <p align="left">There is a demon slayer corporation as these are humans who also have abilties to slay demons.</p>
        <p align="left">This manga teaches about family, morals & principles and many characters with tragic backstories</p>
        <img src="~/Content/Manga Favourites Images/Demon Slayer Manga Cover.jfif" width="300" height="400" />
    </div>
</body>
</html >
