
@{
    ViewBag.Title = "Location";
}

<h2>1)Readers Den Comic Shop Tyger Valley</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105938.0570207379!2d18.48018916709253!3d-33.92661207432262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1dcc50ba18638027%3A0xb2540d25e6deda88!2s148B%2C%20READERS%20DEN%20COMIC%20SHOP%2C%20Tygervalley%20Shopping%20Centre%2C%20Bill%20Bezuidenhout%20Ave%2C%20Bellville%20Park%2C%20Cape%20Town%2C%207530!3m2!1d-33.8736776!2d18.6352416!5e0!3m2!1sen!2sza!4v1650363248435!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>2)Readers Den Comic Shop Cape Town</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105872.12773362211!2d18.39517945820312!3d-33.979586199999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1dcc42d18e36bac9%3A0x69d6855e48d10774!2sReaders%20Den%20Comic%20Shop%2C%20G19%20Stadium%20on%20Main%2C%20Main%20road%2C%20Claremont%2C%20Cape%20Town%2C%207708!3m2!1d-33.9795878!2d18.4651977!5e0!3m2!1sen!2sza!4v1650362981607!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>3)SA Manga</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105938.1063350615!2d18.480189031904683!3d-33.926572423058815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1dcc5b48049d5e7b%3A0x9b7d7c3e2630afdd!2sSA%20Manga%2C%201%20Leipoldt%20St%2C%20Parow%20North%2C%20Cape%20Town%2C%207500!3m2!1d-33.8876828!2d18.588867999999998!5e0!3m2!1sen!2sza!4v1650363948580!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>4)Kingstylemanga</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105938.1063350615!2d18.480189031904683!3d-33.926572423058815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1dcc5ba2acaa8aa5%3A0xa579b80b45961d16!2sKingstylemanga%2C%20Wynne%2059%20Northern%2C%20Cape%20Town%2C%207500!3m2!1d-33.9035254!2d18.5949563!5e0!3m2!1sen!2sza!4v1650364117788!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>5)Bibliophilia Book Shop</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105938.1063350615!2d18.480189031904683!3d-33.926572423058815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1dcc5d9966414249%3A0xc437c7f12447869a!2sBibliophilia%20Book%20Shop%2C%2076%20Lower%20Main%20Rd%2C%20Observatory%2C%20Cape%20Town%2C%207925!3m2!1d-33.9388728!2d18.4690798!5e0!3m2!1sen!2sza!4v1650364272489!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>